:root{
    --primary-theme-color:#20232a;
    --secondary-theme-color:#282c34;
    --primary-text-color:#fff;
    --primary-highlight-color:#61dafb;
    --primary-font-family:'arial';
    --padding-section:1.5rem;
    --padding-comtainer:1rem;
    --max-width-container:640px;
    --letter-color-1:#00bef8;
    --letter-color-2:#ff0697;
    --letter-color-3:#ffe600;
    --letter-color-4:#bb00ff;
    --letter-color-5:#f5926b;
    --letter-color-6:#ff00ff;
}
@media (max-width: 760px){
    :root{
        --padding-section:2rem;
        --padding-container:0.75rem;
        --max-width-container:1024px;
        --primary-theme-color:red;
        --letter-color-1:#fdc200;
        --letter-color-2:#08f03a;
        --letter-color-3:#1800ee;
        --letter-color-4:#bb00ff;
        --letter-color-5:#070707;
        --letter-color-6:#ff00ff;
    }
}