
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Folympics.com%2Fes%2Fatletas%2Flionel-messi&psig=AOvVaw3TiDmesytlo_KTOiCVC_cO&ust=1665024762525000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCLDPz92KyPoCFQAAAAAdAAAAABAE);
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans', calibri, 'Trebuchet MS', 'sans-serif';
    max-width: 100vh;
}
.article__title,.article__keywords,.article__presentation{
    letter-spacing: 1.5px;
    margin: 0;

}
.main{
    background-color: hsla(222, 14%, 15%, 0.75);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 50%;

}
.header_profesional-image-conteiner{
    max-width: 250px;
    display: flex;
    margin: 0;

}
/*
.header{

}
*/
.footer{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.footer__link-icon-conteiner{
    display: flex;
    transition: all 0.5s;
    max-width: 2rem;
}
.footer__link-icon-conteiner:hover{
    transform: scale(1.25);
}
.footer__link-icon{
    width: 100%;
}