*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    margin-top: 30px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    padding: 15px;
}


.section-one{
    margin: 100px 10px 20px 10px; 
    display: flex;
    justify-content: space-around;
}