
@import url(./variables/variables.css);
@import url(../css/variables/section.css);
@import url(../css/variables/animacion.css);

.body{
    background-color:var(--primary-theme-color) ;
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
}

