*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Public Sans', sans-serif;
    background-color: #141618;
    color: white;

}

.header{
    top: 0;
    width: 100%;
    padding-right: 45%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #030303;
    font-weight: 600;
    font-size: 1.2em;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    padding: 15px;
}
a{
    color: white;
}
.nav ul li a{
    text-decoration: none;
}
.banner{
    margin: 6em 10px 20px 10px;
    padding-bottom: 3.5em; 
    display: flex;
    justify-content: space-around;
    color: #fff;
    background-color: #0b0c0c;;
    border-radius: 0 0 30px 30px;
}
.title{
    font-size: 2em;
}
.resume{
    width: 45%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.btn-primary{
    width: 200px;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: 750;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 15px 25px rgb(10, 77, 77);
    animation-name: boton-volador;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes boton-volador{
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -0.7%;
    }
}
.btn-primary:hover{
    background-color: rgb(103, 207, 103);
    color: black;
    font-weight: bold;
}
.img-profile{
    border-radius: 40%;
    width: 60%;

}

/*Section works*/

.title-section{
    display: flex;
    justify-content: center; 
    padding-top: 5%;
}

.section-works{
  
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.card div{
    margin-left: 30px;
}


.card div img{
    width: 20rem;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0 1px 30px ;
    color:  rgb(218, 147, 147);
    
}
.card div img:hover{
    box-shadow: 0 25px 30px rgb(10, 77, 77);
    
}
.conteiner-detail{
    padding: 3%;
}


